</br>
</br>
<div>
  <p align="center" class="description">
    Featured Projects
  </p>

	<p align="center">
		<a href="{{ site.url }}/gringotts-backend" target="_blank">Personal Expense Manager</a>
		&nbsp;&nbsp;&nbsp;

    <a href="{{ site.url }}/hustlers-den" target="_blank">Knowledge Library</a>
    &nbsp;&nbsp;&nbsp;

    <!-- sample -->
    <!-- <a href="" target="_blank"><img src="" height="116px" width="200px" /></a>
		&nbsp;&nbsp;&nbsp; -->
	</p>

  <p align="center">
    <a href="{{ site.url }}/tgif-with-flask" target="_blank">Flask Basics Workshop</a>
    &nbsp;&nbsp;&nbsp;
	</p>

</div>
